---
import H4 from './components/H4.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Continuing Medical Education Portal for Health Care Professionals" />
  <video id="case-3-video" class="max-w-full max-h-[600px] h-full aspect-video" controls poster="/assets/success-cases/case-3/case-3.jpg">
    <source src="/assets/success-cases/case-3/Azacademy.mp4" type="video/mp4" />
  </video>
</div>
