---
import H4 from './components/H4.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Estrategia Growth eCommerce" />
  <object data="/assets/success-cases/case-9/ppt-walmart.pdf" type="application/pdf" class="max-w-full w-[800px] min-w-[300px] h-[560px] min-h-[200px]" />
</div>
