---
import H4 from './components/H4.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Consultoría de Marketing" />
  <p class="text-center text-xl my-5 text-pretty">Consultoría de marketing y comunicación para relanzar sus productos y marca sobre todo con médicos especializados.</p>
  <picture>
    <source srcset="/assets/success-cases/case-7/mock.webp" type="image/webp" />
    <img src="/assets/success-cases/case-7/mock.jpg" alt="Mockup for Consultoría de Marketing" class="max-w-full aspect-auto">
  </picture>
</div>
