---
import H4 from './components/H4.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Employer Branding Video" />
  <lite-youtube
    class="rounded-xl shadow-2xl shadow-white/10"
    videoid="6E3-dVkYi6o"
    videotitle="Employer Branding Video"
    id="case-2-iframe"
  />
</div>
