---
import H4 from './components/H4.astro';
import Image from './components/Image.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Follower Growth" />
  <Image src="/assets/success-cases/case-1/Grafico-1.png" alt="grafico 1" />
  <H4 title="Instagram KPI's Profile" />
  <figure>
    <picture>
      <Image src="/assets/success-cases/case-1/Grafico-2.png" alt="grafico 2" />
    </picture>
    <figcaption class="text-blue-800 text-lg font-semibold uppercase text-center">Google ads</figcaption>
  </figure>
  <H4 title="Evolution of conversions" />
  <Image src="/assets/success-cases/case-1/Grafico-3.png" alt="grafico 3" />
  <Image src="/assets/success-cases/case-1/Grafico-4.png" alt="grafico 4" />
</div>
