---
import H4 from './components/H4.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Google Ads" />
  <p class="text-center text-xl my-5 text-pretty">Estrategia publicitaria en Google Ads para impulsar las ventas de ambas marcas.</p>
  <div class="grid md:grid-cols-2 gap-10">
    <picture>
      <source srcset="/assets/success-cases/case-5/mockup-desktop.webp" type="image/webp" />
      <img src="/assets/success-cases/case-5/mockup-desktop.png" alt="Mockup desktop" class="max-w-full aspect-auto">
    </picture>
    <picture>
      <source srcset="/assets/success-cases/case-5/mockup-phone.webp" type="image/webp" />
      <img src="/assets/success-cases/case-5/mockup-phone.png" alt="Mockup phone" class="max-w-full aspect-auto">
    </picture>
  </div>
</div>
