---
import H4 from './components/H4.astro';
---
<div class="container mx-auto overflow-y-auto max-h-screen pb-40">
  <H4 title="Marketing Consulting" />
  <p class="text-center text-xl my-5 text-pretty">Asesoramiento en marketing y comunicación con el objetivo de aumentar las reservas hoteleras mediante plataformas web y redes sociales.</p>
  <picture>
    <source srcset="/assets/success-cases/case-4/mock-up.webp" type="image/webp" />
    <img src="/assets/success-cases/case-4/mock-up.jpg" alt="Marketing consulting" class="max-w-full aspect-auto">
  </picture>
</div>
