---
import Main from '../layouts/Main.astro';
import Hero from '../components/Hero.astro';
import ListGridContainer from "../components/ListGridContainer.astro";
import ListGridItem from "../components/ListGridItem.astro";
import ArticleContainer from "../components/ArticleContainer.astro";
import ArticleItem from "../components/ArticleItem.astro";
import Contact from "../components/Contact.astro";
import Carousel from "../components/Carousel.astro";
---
<Main>
    <Hero />
    <section class="md:py-20 pt-10">
        <div class="container mx-auto px-5">
            <h2 class="text-center text-3xl font-semibold text-balance">Somos su principal socio para el éxito</h2>
            <p class="mt-5 text-center text-balance md:max-w-[800px] mx-auto">Dirigir un negocio no es tarea fácil, especialmente cuando se trata de marketing, Es por eso que estamos para ofrecerle nuestra experiencia y apoyo en consultoría de marketing.</p>
        </div>
    </section>
    <section class="container mx-auto px-5 pt-10 pb-20">
        <h2 class="sr-only">Nuestra experiencia, historial y estrategias de marketing</h2>
        <ListGridContainer>
            <ListGridItem src="/assets/images/star-filled.svg" alt="Star" subtitle="18+ años de experiencia" />
            <ListGridItem src="/assets/images/award-filled.svg" alt="Award" subtitle="Historial comprobado de los ingresos de clientes" />
            <ListGridItem src="/assets/images/thumb-up-filled.svg" alt="Like" subtitle="Estrategias de marketing personalizadas para cada negocio" />
        </ListGridContainer>
    </section>
    <section class="py-20 bg-gray-600 relative">
        <div aria-hidden="true" class="absolute top-0 bottom-0 right-0 left-0 w-full h-[100px] bg-gray-600 z-0 skew-y-[1deg] origin-top-right md:block hidden"></div>
        <div class="container mx-auto px-5">
            <h2 class="text-center text-4xl font-semibold text-white mb-10">Servicios</h2>
            <ArticleContainer>
                <ArticleItem src="/assets/images/pexels" alt="Estrategis personalizadas" title="Estrategia de Marketing" subtitle="Elaboramos estrategias personalizadas para impulsar su presencia en línea." />
                <ArticleItem src="/assets/images/pexels-stats" alt="Gestión redes sociales" title="Gestión de Redes Sociales" subtitle="Administramos su presencia en redes sociales, creamos contenidos atractivos para que la audiencia interactúe." />
                <ArticleItem src="/assets/images/pexels-content" alt="Creación de contenidos" title="Creación y curación de contenido" subtitle="Desarrollamos contenido de alta calidad que cautive a su público objetivo y genere un posicionamiento de marca sólido." />
                <ArticleItem src="/assets/images/pexels-campagn" alt="Campañas" title="Campañas de publicidad Online" subtitle="Creamos y optimizamos campañas publicitarias en línea dirigidas a captar sus clientes potenciales." />
                <ArticleItem src="/assets/images/pexels-campagn" alt="Campañas" title="Diseño y desarrollo de sitios web" subtitle="Diseñamos y desarrollamos sitios web visualmente atractivos y fáciles de usar para generar conversiones." />
                <ArticleItem src="/assets/images/pexels-brand" alt="Impulsar marca" title="Consultoría a medida" subtitle="Impulsa tu marca con un asesoramiento personalizado destinado a buscar mejorar tu estrategia de marketing." />
            </ArticleContainer>
        </div>
    </section>
    <section class="py-20 bg-[rgb(10,73,110)] relative">
        <div aria-hidden="true" class="absolute top-0 bottom-0 right-0 left-0 w-full h-[100px] bg-[rgb(10,73,110)] z-0 skew-y-[1deg] origin-top-right md:block hidden"></div>
        <div class="container mx-auto px-5 relative">
            <h2 class="text-4xl font-semibold mb-10 text-center md:text-left text-balance text-white">Proyectos y casos de éxito</h2>
            <Carousel />
        </div>
    </section>
    <section id="contact" class="py-20 relative">
        <div aria-hidden="true" class="absolute top-0 bottom-0 right-0 left-0 w-full h-[100px] bg-[rgb(10,73,110)] z-0 skew-y-[0.5deg] origin-top-right md:block hidden"></div>
        <div class="container mx-auto px-5 flex flex-col-reverse md:grid md:grid-cols-2 gap-10 md:mt-20">
            <Contact />
            <div class="md:mt-4">
                <h2 class="text-4xl font-semibold mb-10">Contacto</h2>
                <p class="text-pretty">Contactame y comencemos una conversación que desafíe el status quo.</p>
            </div>
        </div>
    </section>
</Main>
