---
const companies = [{
    name: 'club-spa',
    link: 'https://spaoasis.com.ar/'
}, {
    name: 'maria-t',
    link: 'https://www.mariatboticario.shop/'
},{
    name: 'bas',
    link: 'https://basdancewear.com.ar/'
},{
    name: 'o3',
    link: 'https://www.ozonelifestyle.com/'
},{
    name: 'alma-loft',
    link: 'https://www.almaloft.com/'
}, {
    name: 'flow-bliss',
    link: 'https://flowandbliss.com/'
}, {
    name: 'walmart',
    link: 'https://www.walmart.com/'
}, {
    name: 'harren-media',
    link: 'https://harrenmedia.com/'
}
];
---
<div class="owl-carousel owl-theme cursor-grab active:cursor-grabbing relative">
    {companies.map((data) => (
        <a href={data.link} target="_blank" rel="noreferrer" referrerpolicy="no-referrer">
            <figure class="item">
                <picture>
                    <img class="max-w-[200px] max-h-[100px] object-contain object-center" src={`/assets/images/${data.name}.webp`} alt={data.name}>
                </picture>
                <figcaption class="sr-only">{data.name} que confía en nosotros</figcaption>
            </figure>
        </a>
    ))}
</div>
<style>
    @import url("/assets/css/owl.carousel.min.css");
    @import url("/assets/css/owl.theme.default.css");
    @import url("/assets/css/owl-dots.css");
</style>
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/owl.carousel.min.js" type="text/javascript"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        nav:true,
        dots: false,
        autoplay:true,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        rtl:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    });
</script>
