---
const companies = [{
    name: 'club-spa',
    link: 'https://spaoasis.com.ar/'
}, {
    name: 'maria-t',
    link: 'https://www.mariatboticario.shop/'
},{
    name: 'bas',
    link: 'https://basdancewear.com.ar/'
},{
    name: 'o3',
    link: 'https://www.ozonelifestyle.com/'
},{
    name: 'alma-loft',
    link: 'https://www.almaloft.com/'
}, {
    name: 'flow-bliss',
    link: 'https://flowandbliss.com/'
}, {
    name: 'walmart',
    link: 'https://www.walmart.com/'
}, {
    name: 'harren-media',
    link: 'https://harrenmedia.com/'
}
];
---
<div class="swiper">
    <div class="swiper-wrapper items-center">
        {companies.map((data) => (
                <a class="group grid items-center swiper-slide" href={data.link} target="_blank" rel="noreferrer" referrerpolicy="no-referrer">
                    <figure class="w-fit mx-auto">
                        <picture class="flex items-center justify-center w-fit">
                            <img class="max-w-[200px] max-h-[100px] object-contain object-center group-hover:shadow-xl transition duration-300" src={`/assets/images/${data.name}.webp`} alt={data.name}>
                        </picture>
                        <figcaption class="sr-only">{data.name} que confía en nosotros</figcaption>
                    </figure>
                </a>
        ))}
    </div>
    <!--<div class="swiper-pagination"></div>-->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
</div>
<style>
    @import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
</style>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        slidesPerView: 5,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
