<h1 class="md:max-w-[50%] text-white text-balance mb-10 lg:text-6xl md:text-5xl text-4xl font-semibold">Impulsa tu estrategia de marketing</h1>
<!-- Styles -->
<style>
    @media screen and (min-width: 768px) {
        h1 {
            line-height: 4rem;
        }
    }
</style>
