<h1>Impulsa tu estrategia de marketing</h1>
<!-- Styles -->
<style>
    h1 {
        white-space: nowrap;
        border-right: 4px solid;
        width: 31ch;
        overflow: hidden;
        animation: typing 2s steps(60) alternate, blink .5s infinite step-end alternate;
        animation-direction: normal;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 31ch }
    }

    @keyframes blink {
        50% {
          border-color: transparent;
        }
    }
</style>
