---
import H1 from "./H1.astro";
import CompanyLogo from "./CompanyLogo.astro";
---

<section id="hero" class="py-5 px-5 md:px-10 bg-sky-900 grid items-center">
    <div class="flex md:justify-end items-center">
        <CompanyLogo />
    </div>
    <div class="container mx-auto p-5">
        <H1 />
        <p class="text-white text-balance md:max-w-[50%] text-lg">Obtenga asesoramiento y estrategias de expertos para acelerar su transformación digital.</p>
        <a role="button" href="#contact" class="bg-sky-500 hover:bg-sky-700 transition-colors duration-300 px-5 py-2.5 text-white rounded grid items-center w-fit mt-10">Obtener una consultoría</a>
    </div>
</section>
<style>
    #hero {
        background-image: url("/assets/images/hero.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        min-height: 600px;
    }

    :is(p,a) {
        opacity: 0;
        transform: translateY(50px);
        animation: scroll-watcher ease-in-out 1s forwards;
    }

    @supports not (background-image: url("/assets/images/hero.webp")) {
        #hero {
            background-image: url("/assets/images/hero.jpg");
        }
    }

    @keyframes scroll-watcher {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
