---
import H1 from "./H1.astro";
import CompanyLogo from "./CompanyLogo.astro";
---

<section id="hero" class="py-5 px-10 bg-sky-900 grid items-center">
    <CompanyLogo />
    <div class="container mx-auto p-5">
        <H1 />
        <p class="text-white text-balance lg:max-w-[50%] text-lg">Obtenga asesoramiento y estrategias de expertos para acelerar su transformación digital. Utilizamos la inteligencia artificial para lograr los mejores resultados.</p>
        <a role="button" href="#contact" class="bg-sky-500 hover:bg-sky-700 transition-colors duration-300 px-5 py-2.5 text-white rounded block w-fit mt-10">Contratar consultoría</a>
    </div>
</section>
<style>
    #hero {
        background-image: url("/assets/images/hero.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        min-height: 600px;
    }

    @supports not (background-image: url("/assets/images/hero.webp")) {
        #hero {
            background-image: url("/assets/images/hero.jpg");
        }
    }
</style>
