---
import CompanyLogo from "../components/CompanyLogo.astro";
---
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>Consultora</title>
</head>
<body class="bg-white">
    <slot />
<footer class="bg-gray-800 p-10">
    <div class="container mx-auto flex justify-between items-center">
        <CompanyLogo />
        <p class="text-white">Derechos reservados &copy; {new Date().getFullYear()}</p>
    </div>
</footer>
</body>
</html>
